//======================================
//
//Name: login.csss
//Version: 1.0
//Date: 03/12/2017
//Developer: Chris Espie
// contributor: Michael Davidson
//
//======================================

page-login {

    // web format
    @media only screen and (min-width: 1240px) 
    {
        background: color($colors, bGround);

        #banner-img{
            margin-top:4%;
        }
        #vert-banner{
            width:30%;
            max-width:700px;
            float:right;
        }


        #login_body
        {
            margin:0;
            padding:0;
            float: left;
            width:60%;
            background: color($colors, bGround);

            .card-md
            {
                
                margin-top:5%;
                width:60%;
                margin-left: 20%;
                margin-right: 20%;
            } 
          
            #titles
            {
                text-align: center;
                

            }
            h1
            {

                font-size: 700%;
                color: black;
                font-family: 'Cooper Black';
                margin-top: 0px;
            }
            
            h3
            {
                color: black;
                margin-top: 10px;
            }
            .splashImageSmall
            {
                display: none !important;
                margin-top:-5%;
                width:30%;
            }

            #signup-link
            {
                text-align: center;
                font-size: 150%;
            }

            #forgot-button
            {
                    float:left;
                    width:49%;
                    margin-right:1%;
                    
                }
                #activate-button{
                    float:right;
                    width:49%;
                    margin-left:1%;
                }
            
            #login-button
            {
                margin-top: 6%;
                

            }

            #buttons{
                width:100%;
                //margin-left:10%;
            }
            
    
        }
    }
    
    // mobile format
    
    @media only screen and (max-width: 1240px) 
    {
 

        #banner-img
        {
            display: none !important;
        }

        #login_body
        {
            background: color($colors, bGround);
            height:100%;
            margin-top:-2%;

            .loginButton
            {
                width: 100%
            }


            .splashImageSmall
            {
                font-size: 60px;
                width: 70%;
                max-width: 600px;
                margin-left: 15%;
                margin-right: 15%;
                margin-bottom: 5%;
                margin-top: -5%;
                margin-bottom: 5%;
            }
        
            h1
            {
                font-size: 48px;
                color: black;
                font-family: 'Cooper Black';
                margin-top: 0px;
            }
        
            h3
            {
                color: black;
                margin-top: -10px;
            }
        
            .CompanyIcon
            {
                float: right;
            } 

        }

        #signup-link
        {
            text-align: center;
        }

        #forgot-button
        {
                float:left;
                width:49%;
                margin-right:1%;
                
            }

        #activate-button{
                float:right;
                width:49%;
                margin-left:1%;
            }
        #login-button{
            margin-top: 5em;
            width:95%;
            margin-left:2.5%;
            
        }

        #buttons{
            width:95%;
            margin-left:2.5%;
        }

    }

}
