//======================================
//
//Name: forgotpass.ts
//Version: 1.0
//Date: 03/12/2017
//Developer: Chris Espie
//Contributor: Drew Gamble
//
//======================================

page-forgotpass {

    #forgotpass{
        background: color($colors, bGround);

        .resetButton{
            margin-top: 60px;
        }

        .resetFields{
            margin-top: 95px;
            margin-bottom:  15px;
            margin-left: 5%;
            width: 90%;

        }


        
    }

}
