page-home {
    #home{
        background: color($colors, bGround); 
    }

    .navbtn {
        width:33%;
        margin: 0;
    }

    #testPanel{
      width:100%;
      height:55%;
      background-color:aliceblue;
    }

    #map{
      width:100%;
      height:100%;
      background-color: green;
    }

    #webpage {
        background: color($colors, bGround); 
        width: 100%;
    }

    @media only screen and (max-width:480px){
        #webpage{
            display: none;
        }
    }

    @media only screen and (max-width:740px){
        .navbtn {
            width:32%;
        }
    }
}
