page-home {
    #autocomplete {
      width: 100%;
    }

    #useCurrentLocation {
        width:100%;
        margin: 15px 0 15px 0;
    }

    #home{
        background: color($colors, bGround); 
    }

    .button-bar {
        margin-top: 15px;
    }

    .navbtn {
        width:33%;
        margin: 0;
    }
    
    #locationField {
        width:100%;
        margin-top: 30px;
        background-color:rgb(255, 255, 255);
    }

    #map{
      width:100%;
      height:100%;
      background-color: green;
    }

    #testPanel{
      width:100%;
      height:55%;
      background-color:aliceblue;
    }

    #webpage {
        background: color($colors, bGround); 
        width: 100%;
    }

    @media only screen and (max-width:480px){
        #webpage{
            display: none;
        }
        
        #locationField {
            width: 100%;
        }
    }

    @media only screen and (max-width:740px){
        .navbtn {
            width:32%;
        }
    }
}
