page-settings {

    #settings{
        background: color($colors, bGround);
    }

    button{
        padding-left: 10%;
        padding-right: 10%;
    }

    #FTC{
        padding-left: 10%;
        padding-right: 10%;
    }

}
