// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html { }

ion-content.content.admin {
    
    margin-top:40px;
    background: color($colors, bGround);
}
ion-content.content.admin .admin-container {
    max-width: 900px;
    margin-left: auto;
    margin-right:auto;
}
ion-content.content.admin .admin-view {
    background: #fff;
    max-width: 900px;
    margin-left: auto;
    margin-right:auto;
    padding:20px;
    margin-bottom:60px;
}
ion-content.content.admin .admin-menu .icon {
    color: #999;
}
.admin h1 {
    margin: 35px 0;
    color: color($colors, primary);
}


html { font-family: 'Montserrat', sans-serif;  }
.content { 
    background: color($colors, bGround);
    height: 100%;
    
}
.banner {
    background: url(../../assets/images/chicago.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:100px;
    
}
.banner-inner-container {
    max-width: 800px;
    margin:auto;
    position: relative;
    height:100px;
}
.banner h1 { color:#fff; margin:0; padding: 12px;  background:#000; position: absolute; bottom:0; letter-spacing: 2px; }

ion-header {
    position: relative;
    border-bottom:none;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before
, .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios
{
    background: none;
    border-bottom:none;
}
ion-header ion-navbar.toolbar {
    max-width: 800px;
    margin:auto;
}
ion-header ion-navbar button .button-inner {
    color: #fff;
    background: color($colors, primary);
    border-radius: 50%;
    width:32px;
    height:32px;
}
ion-header ion-navbar button .back-button-text { display:none ;}
ion-header ion-navbar .toolbar-background {
    background:transparent;
    
}
ion-header ion-navbar .toolbar-title {
    color: color($colors, primary);
}
.container {   
    max-width: 800px;
    padding: 20px 10px;
    margin:auto; 
    background: color($colors, bGround);
}