page-welcome {
    text-align: center;
    .banner, .banner-inner-container { height: 200px; }
    h2 { 
        margin:24px 0 24px 0;
        color:  color($colors, primary);
    }
    
    .steps { margin-top:40px; }
    .steps .grid { padding:0;}
    .steps .step {
        margin:10px 0;
        padding:24px;
        background: #fff;
        min-height: 100px;
        color:#555;
        border-top: solid 8px color($colors, light);
    }
    .steps .step img { height:60px;}
}