<!--
  Generated template for the AdminCarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ewebah Administration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="admin">
    
  <div class="admin-container">
    
        <div *ngIf="car">
            <h1>{{car.Make}} {{car.Model}}</h1>
            <div class="admin-view" >
                <form [formGroup]="carForm" (ngSubmit)="submitForm()">
                  <h2>Specifications</h2>
                    <ion-item>
                      <ion-label stacked>Make</ion-label>
                      <ion-input type="text" formControlName="Make"></ion-input>
                     
                    </ion-item>
                    <div class="admin-car-error" *ngIf="carForm.get('Make').errors && carForm.get('Make').touched"><ion-icon name="alert"></ion-icon>You must enter a Make.</div>
                    <ion-item>
                      <ion-label stacked>Model</ion-label>
                      <ion-textarea formControlName="Model"></ion-textarea>
                    </ion-item>
                    <div class="admin-car-error" *ngIf="carForm.get('Model').errors && carForm.get('Model').touched"><ion-icon name="alert"></ion-icon>You must enter a Model.</div>
                    <ion-item *ngIf="categoriesLoading">
                      <ion-label stacked>Category</ion-label>
                      <p>Loading...</p>
                    </ion-item>
                    <ion-item *ngIf="!categoriesLoading">
                      <ion-label stacked>Category</ion-label>
                      <ion-select formControlName="CarCategory">
                        <ion-option *ngFor="let category of categories" [value]="category.Name">{{category.Name}}</ion-option>
                      </ion-select>
                    </ion-item>
                    <div class="admin-car-error" *ngIf="carForm.get('CarCategory').errors && carForm.get('CarCategory').touched"><ion-icon name="alert"></ion-icon>You must enter a Category.</div>
                    
                    <ion-item>
                      <ion-label stacked>Transmission</ion-label>
                      <ion-select formControlName="Transmission">
                        <ion-option value="AT">Automatic</ion-option>
                        <ion-option value="MN">Manual</ion-option>
                      </ion-select>
                    </ion-item>
                    <div class="admin-car-error" *ngIf="carForm.get('Transmission').errors && carForm.get('Transmission').touched"><ion-icon name="alert"></ion-icon>You must enter a Transmission.</div>
                    <h2>Location</h2>
                    <ion-grid>
                        <ion-row>
                          <ion-col col-sm-12 col-md-6>
                              <div #map id="map"></div> 
                          </ion-col>
                          <ion-col col-sm-12 col-md-6>
                              <ion-item>
                                  <ion-label stacked>Latitude</ion-label>
                                  <ion-textarea formControlName="LatPos"></ion-textarea>
                                </ion-item>
                                <div class="admin-car-error" *ngIf="carForm.get('LatPos').errors && carForm.get('LatPos').touched"><ion-icon name="alert"></ion-icon>You must enter a Latitude.</div>
                                <ion-item>
                                  <ion-label stacked>Longitude</ion-label>
                                  <ion-textarea formControlName="LongPos"></ion-textarea>
                                </ion-item>
                                <div class="admin-car-error" *ngIf="carForm.get('LongPos').errors && carForm.get('LongPos').touched"><ion-icon name="alert"></ion-icon>You must enter a Longitude.</div>
                                
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    
                    
                    <h2>Other</h2>
                    <ion-item *ngIf="statusesLoading">
                        <ion-label stacked>Status</ion-label>
                        <p>Loading...</p>
                      </ion-item>
                      <ion-item *ngIf="!statusesLoading && car.Status == 'Booked'">
                          <p>Status: Booked</p>
                      </ion-item>
                      <ion-item *ngIf="!statusesLoading && car.Status != 'Booked'">
                        <ion-label stacked>Status</ion-label>
                        <ion-select formControlName="Status">
                          <ion-option *ngFor="let status of statuses" [value]="status">{{status}}</ion-option>
                        </ion-select>
                      </ion-item>
                      <div class="admin-car-error" *ngIf="carForm.get('Status').errors && carForm.get('Status').touched"><ion-icon name="alert"></ion-icon>You must enter a Status.</div>

                    <br />
                    <button ion-button type="submit" [disabled]="!carForm.valid || formSubmitting">Update</button>
                    <span *ngIf="formSubmitting"><ion-spinner></ion-spinner>&nbsp;Processing...</span>
                  </form>
            </div>
        </div>
        <div *ngIf="!car">
          <h1>No car found</h1>
        
        </div>

  </div>
</ion-content>
