page-admin-car { }
page-admin-car .admin-car-error {
    padding: 12px;
    margin: 16px 0 16px 16px;
    border: solid 1px #F48181;
    border-left: solid 6px #F48181;
    border-radius:3px;
    color:#333;
}
page-admin-car .admin-car-error ion-icon { margin-right: 8px; }
page-admin-car {
    .scroll {
        height: 100%
      }
 
      #map {
        height:220px;
        margin: 16px 0 ;
      }
      h2 { padding-top:20px; }
}