
page-signup {

    #signup{
    background: color($colors, bGround);
    }

    #signupHeader{
        margin-bottom: 1px;
        padding-bottom: 0px;
    }
    .signupFields
    {
        margin-bottom:  15px;
        margin-left: 5%;
        width: 90%;
    }

    #password
    {
        margin-top: 0px;
        padding-top: 0px;
    }

    #passwordInformation
    {
        font-size: 12px;
        padding-left: 5px;
        padding-right:0px;
        margin-top:0px;
        margin-bottom: 0px;
        background-color: white;
    }

    #passwordConfirm{
        margin-top: 0px;
        padding-top: 0px;
    }

    #passwordConfirmLabel{
        margin-top: 0px;
        padding-top: 0px;
    }
}
