page-signup {

    #signup{
        background: color($colors, bGround);

        .signupButton{
            margin-top: 60px;
        }

        .signupFields{
            margin-top: 95px;
            margin-bottom:  15px;
            margin-left: 10%;
            width: 80%;

        }
    }


}
