<!--//======================================
//
//Name: admin-cars.html
//Version: 1.0
//Date: 03/12/2017
//Developer: Steven Innes
Contributor: Shawn Burriss
//
//======================================-->
<ion-header>

  <ion-navbar>
    <ion-title>Ewebah Administration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="admin">
   
    <div class="admin-container" >
        <div *ngIf="loading">
            <h1><ion-spinner></ion-spinner>&nbsp;Loading...</h1>
        </div>
        <div *ngIf="!loading">
        <h1>Administer Cars</h1>
        <ion-list>
    
            <button ion-item detail-none (click)="loadCar(null)" class="new-car">
              Add New Car
              <ion-icon item-right name="add-circle"></ion-icon>
            </button>
          </ion-list>
            <ion-list>
            <button ion-item detail-none *ngFor="let car of cars" (click)="loadCar(car)">
                {{car.Make}} {{car.Model}}
                <ion-badge item-end>{{car.Status}}</ion-badge>
                <ion-icon item-right name="arrow-forward"></ion-icon>
            </button>
          </ion-list>
         
        </div>
    </div>
</ion-content>
